.black_theme_header>div:nth-of-type(1) {
    background-color: black !important;
}

.Herder {
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

#appBar {
    height: 56px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 24px;
    background-color: #272834;
    color: #fff;
}

.navLinkBar {
    display: flex;
    width: 560px;
}

.appBarLink {
    transition: all .27s cubic-bezier(.4, 0, .2, 1);
    margin: 0 18px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.appBarLink:hover {
    color: #c6c6c6;
}

.logo {
    margin-right: 24px;
    margin-top: 2px;
}

.barRight {
    float: right;
    position: absolute;
    right: 20px;
}

.userNmae {
    color: #fff;
    float: right;
    overflow: hidden;
    line-height: 31px;
    margin-left: 18px;
    border-left: 1px solid #7f8b95;
    padding-left: 20px;
    height: 30px;
}

.portrait {
    width: 28px;
    height: 28px;
    background-color: #7f8b95;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    border-radius: 30px;
    color: #fff;
    float: left;
    margin-right: 8px;
    margin-top: 2px;
}

.noti {
    float: left;
    padding-top: 3px;
}